@import '/src/assets/styles/mixins';

:host {
  $size: 1.6vw;

  position: absolute;
  width: 100vw;
  height: 100vh;

  padding-right: 2vw;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  .toggle-helper {
    margin-bottom: $size / 2;
    font-size: $size / 2;
    color: white;
    text-shadow:
      black 1px 1px 0,
      black -1px -1px 0,
      black -1px 1px 0,
      black 1px -1px 0;
  }

  .key-helper:not(:last-child) {
    margin-bottom: $size / 2;
  }
}
